body {
  overflow: overlay;
}

.leaflet-container {
  width: 100%;
  height: 500px;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0, 0.5);
}

.stick {
  position: sticky;
  top: 0;
  z-index: 10;
}

.questions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .stick {
    z-index: 10;
    position: static;
  }
  .questions-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
