.stick {
  position: sticky;
  top: 0;
  z-index: 10;
}

.questions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .stick {
    z-index: 10;
    position: static;
  }
  .questions-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
